:root {
--font-serif: "Helvetica", serif;
--font-sans: "Inter", sans-serif;
--text-color: #1a1a1a;
}


.main {
padding: 12px;
max-width: 1400px;
margin: 0 auto;
color: var(--text-color);
font-family: var(--font-sans);
}

.grid {
  display: grid;
  margin-left: 24px;
  margin-right:24px;
  gap: 24px;
  justify-items: center;
  /* Desktop: 4 columns */
  grid-template-columns: repeat(4, 1fr);
}

/* Tablet/iPad: 2 columns */
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile: 1 column */
@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
  }
}


/* b&w */
/* .poster { width: 100%; height: auto; max-width: 450px;  
  opacity: 1;
  filter:grayscale();
  transition: transform 0.3s ease, opacity 0.3s ease; }

.poster:hover {  
    opacity: 0.8; 
} */

/* colored posters  */
.poster { width: 100%; height: auto; max-width: 400px;  
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease; }

.poster:hover {  
    opacity: 0.8; 
}

.name {
font-family: var(--font-serif);
font-size: 2.8rem;
margin-bottom: 20px;
letter-spacing: -0.5px;
}


/* .header {
  font-family: var(--font-serif);
  font-size: 1.0rem;
  letter-spacing: 0.5px;
  margin-bottom: 80px;

} */

.header {
  /* margin-bottom: 80px; */
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  position: sticky;
  line-height:1.8rem;
  top: 0;
  left: 0;
  z-index: 1000;          /* keep it above posters */
  background: white;      /* prevent content bleeding underneath */
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.5rem;        /* default large padding */
    transition: padding 0.25s ease, 
                background 0.25s ease, 
                border-bottom 0.25s ease;
}

.header.shrink {
    padding: 0.5rem 1rem;         /* smaller padding when scrolled */
    background: rgba(255, 255, 255, 0.95); /* slightly translucent effect */
    backdrop-filter: blur(4px);   /* optional nice effect */
}

.headerTop{
  display: flex;
  justify-content: space-between; /* pushes email to the right */
  align-items: center;
  margin-bottom: 2.5rem;
}


/* .headerLeft {
  letter-spacing: 0.5px;
} */

.headerEmail {
  text-decoration: none;
  color: black;
  transition: opacity 0.3s ease;
}

.headerEmail:hover {
text-decoration:underline;
}

.logos { margin-top: 40px; text-align: center; }

.logoRow {
  display: flex;
  justify-content: center;
  align-items: center; /* aligns by vertical center */
  gap: 40px;
}

.logoRow img {
  max-height: 60px; /* adjust as needed */
  height: auto;
  width: auto;
  filter: grayscale(100%);
  opacity:1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}



.logoRow img:hover {
  opacity: 0.8;
}

@media (max-width: 500px) {
  .logoRow {
    flex-direction: column;
    gap: 20px;
  }
  .header {
  font-size: 0.8rem;
   line-height:1.4rem;
}
    .sectionTitle {
  font-size: 0.8rem;
}
    .main {
        padding: 10px;
    }

}